body {
    color: #333333;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Domine', sans-serif;
    font-weight: 700;
    color: #333333;
}

a {
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #40d9ac;
}

button {
    background-color: #40d9ac;
    color: white;
    font-weight: 700;
    padding: 10px 30px 31px;
    border: 3px solid #40d9ac;
    border-radius: 24px;
    height: 45px;
    transition: all 0.25s ease 0s;
}

button:hover {
    background-color: transparent;
    border: 3px solid #40d9ac;
    color: #40d9ac !important;
}

footer a {
    color: #757575;
}

footer a:hover {
    color: #40d9ac;
}

img {
    border-radius: 15px;
}

nav {
    background-color: #ebebeb;
}

a.nav-link {
    color: #333333 !important;
}

a.nav-link:hover {
    color: #40d9ac !important;
}

table {
    border: 1px solid #ebebeb;
}

.accordion a {
    color: #fff;
    cursor: pointer;
}

.accordion h4 {
    color: #fff;
}

.bg-light {
    background-color: #f3f2ef !important;
}

.breadcrumb {
    background-color: transparent;
}

.btn-link {
    color: #40d9ac;
}

.btn-link:hover {
    text-decoration: none;
}

.bg-primary {
    background-color: #41305c !important;
}

.btn-primary {
    background-color: #40d9ac !important;
}

.btn-success {
    background-color: #fff !important;
    color: #40d9ac !important;
}

.close:hover {
    border: none !important;
}

.quote {
    border-radius: 20px;
}

.card-header {
    border-radius: 0 !important;
    background-color: #41305c !important;
}

.carousel-caption h3 {
    color: #fff;
}

.ghost-button {
    background-color: transparent;
    padding-bottom: 32px;
}

.ghost-button:hover {
    background-color: #40d9ac;
    color: white;
    border: 3px solid #40d9ac;
}

.ghost-button a {
    color: white;
}

.ghost-button-wb {
    color: #40d9ac;
}

.ghost-button-wb:hover {
    color: #fff !important;
}

.ghost-login {
    color: #40d9ac;
    background-color: #fff;
    border-radius: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

.ghost-login:hover {
    background-color: #40d9ac;
    color: white !important;
}

.login-btn {
    border-radius: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

/* HERO SECTION */

.hero-container {
    padding-top: 150px;
}

.hero-row {
    height: 600px;
    color: #fff;
}

.hero-row h1 {
    color: #fff;
    font-size: 55px;
}

.hero-section {
    background-image: url('/img/hero-img.png');
    height: 100vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section button:hover {
    color: #fff;
}

.hero-section p {
    padding-left: 0;
}

.list-unstyled {
    line-height: 2;
}

.login {
    padding-top: 12px;
}

.login:hover {
    color: #40d9ac;
}

.login-li {
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    width: 250px;
}

.main-text {
    margin-top: 80px;
    margin-bottom: 80px;
}

.nav-item button {
    padding-bottom: 32px;
}

.navbar-light .navbar-nav .nav-link {
    color: #333333;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #40d9ac;
}

.navbar-light .navbar-toggler {
    border: none;
}

.nav-link {
    color: #333333;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.site-footer {
    background-color: #f3f2ef;
    padding: 20px 0;
    position: sticky;
    top: 100%;
    margin-top: 100px;
}

.slider-section {
    margin-bottom: 80px;
}

.tab-content {
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 8px;
    padding: 10px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3f2ef;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 375px) and (max-width: 767px) {
    .login-li {
        padding-left: 0;
    }
}

@media only screen and (min-width: 375px) and (max-width: 991px) {
    .login-li {
        padding-left: 0;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .nav-reserve-button {
        display: none;
    }
}
